<h2>Show cart</h2>

<ul>

  <li>
    <strong>Product:</strong>
    <%= @cart.product_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @cart.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @cart.description %>
  </li>

</ul>

<span><%= link "Edit", to: cart_path(@conn, :edit, @cart) %></span>
<span><%= link "Back", to: cart_path(@conn, :index) %></span>
